/.vscode
/Cases_expression.sql
/csv_files
/CTE's_problems.sql
/Dates.sql
/Date_Function_promblem.sql
/Manipulate Tables Full code for problems.sql
/Notes_on_SQL.ipynb
/sql_load
/Subqueries_problems.sql
/test.sql
/Union_operator_problems.sql